.link {
  color: #000; /* This will set the text color to black for all links */
}

.active {
  background-color: #000; /* Replace with the color code for the active state */
  border-radius: 10px; /* Adjust the border-radius as needed */
  padding: 8px 10px 8px 10px; /* Adjust padding as needed */
  color: #fff; /* This will set the text color to white for the active link */
  min-width: 250px;
}

.icon {
  margin-right: 8px; /* Adjust the spacing as needed */
}

/* General link styles */
.link {
  transition: all 0.3s ease; /* Smooth transition for state changes */
}

/* Ensure the sidebar spans the full height of the screen */
.sticky {
  height: 100vh;
}
